<div class="container" style="background-color: rgb(238, 237, 237);width: 100%;">
    <h3 style="text-align: center;">Add Money To Your Account</h3>
    <p style="text-align: center;">Select the mode</p>
    <div>
        <button type="button" class="btn btn-success" style="margin-left: 38%;">Debit Card</button>
        <button type="button" class="btn btn-success" style="margin-left: 1%;">Net Banking</button>
    </div>
    <div>
    <form class="form-inline" action="/action_page.php" style="margin-left:32%; margin-top: 2%; margin-bottom: 2%;">
        <label for="Amount">Enter the Amount  : </label>
        <input type="number" class="form-control" placeholder="Enter Amount" id="amount">
    </form>
</div>
<div style="padding-bottom: 2%;">
    <button type="button" class="btn btn-danger" style="margin-left: 44%;">ADD AMOUNT</button>
</div>
