<h2 style="text-align: center; margin-bottom: 2.8%;">WELCOME TO EWALLET</h2>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link " style="color: white; font-weight: 500;" routerLink="/addmoney" routerLinkActive="active">Add Money</a>
            <a href="#" class="nav-item nav-link" style="color: white; font-weight: 500;" routerLink="/showbalance" routerLinkActive="active">Show Balance</a>
            <a href="#" class="nav-item nav-link" style="color: white; font-weight: 500;" routerLink="/transferfund" routerLinkActive="active">Transfur Fund</a>
            <a href="#" class="nav-item nav-link" style="color: white; font-weight: 500;" routerLink="/transactionlist" routerLinkActive="active">Transaction List</a>
            <a href="#" class="nav-item nav-link" style="color: white; font-weight: 500;" >Logout</a>
        </div>
        
    </div>
</nav>

<router-outlet></router-outlet>
  
 
  