<div class="container" style="background-color: rgb(238, 237, 237);width: 100%;">
    <h3 style="text-align: center;">Transfer Money To Another Account</h3>
    
    <div>
    <form class="form-inline" action="/action_page.php" style="margin-left:32%; margin-top: 2%; margin-bottom: 2%;">
        
        <label for="Email">Email of Beneficiary :</label>
        <input type="email" class="form-control" placeholder="Enter Email" id="email" style="margin-left: 5%;">
    </form>
    <form class="form-inline" action="/action_page.php" style="margin-left:32%; margin-top: 2%; margin-bottom: 2%;">
        
        <label for="Amount">Amount to be transferred :</label>
        <input type="number" class="form-control" placeholder="Enter Amount" id="amount">
    </form>
</div>
<div>
    <button type="button" class="btn btn-danger" style="margin-left: 44%; margin-bottom: 2%;">TRANSFER MONEY</button>
</div>
