<h1 style="text-align: center; font-family:sans-serif;">ewallet</h1>
<div class="card">
    <div class="card-body">
<form>
    <div class="form-group">
      <label for="exampleInputName">Username</label>
      <input type="name" class="form-control" id="exampleInputName" >
      
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    
    <a routerLink="/welcomepage" routerLinkActive="active"> <button type="login" class="btn btn-primary">Login</button></a>
  </form>
</div>
<footer>
  <a routerLink="/form" routerLinkActive="active"><button type="button" class="btn btn-outline-primary" style="margin-left:43%;">Register</button></a>
</footer>
  </div>
  <router-outlet></router-outlet>