<h1 style="text-align: center; font-family:sans-serif;">ewallet</h1>
<div class="card">
    <h3 style="margin-top: 2px;">User registration form</h3>
    <div class="card-body">
       
<form>
    <div class="form-group">
      <label for="exampleInputName">Username</label>
      <input type="name" class="form-control" id="exampleInputName" >
      
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="phoneNo">phoneNo</label>
        <input type="number" class="form-control" id="phoneNo" required>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    
    
  </form>
</div>
<footer>
    <button type="button" class="btn btn-outline-primary" >Cancel</button>
    <a routerLink="/login" routerLinkActive="active"><button type="button" class="btn btn-primary" style="margin-left: 2%;">Register</button></a>
</footer>
  </div>
