<div class="container" style="background-color: rgb(238, 237, 237);width: 100%;">

    
    <div style="margin: auto;">
    <form class="form-inline" action="/action_page.php" style="margin-left:38%;  margin-bottom: 2%; padding-top: 2%;">
        
        <label for="Email">Email</label>
        <input type="email" class="form-control" placeholder="Enter Email" id="email" style="margin-left: 5%;">
    </form>
    <form class="form-inline" action="/action_page.php" style="margin-left:38%; margin-top: 1.8%; margin-bottom: 2%;">
        
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control"   placeholder="Enter Password" id="exampleInputPassword1" style="margin-left: 2%;">
    </form>
</div>
<div>
    <button type="button" class="btn btn-danger" style="margin-left: 47%;">LOGIN</button>
    <footer style="padding-bottom: 1.8%;">
    <p style="text-align: center; margin-top: 1%; font-weight: 500;">New user? Get yourself Registered by clicking on Register below!</p>
    <a href="#" style="margin-left: 47%;">Register</a>
</footer>
</div>

